# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Data files
data/*.pdb
data/*.pdbqt

# Logs
*.log

# p2rank output
p2rank_2.4.2/test_output/
p2rank_2.4.2/

# AutoDock Vina output
docking_results/*.pdbqt
docking_results/*.txt

# Build / packaging
build/
dist/
*.egg-info/

# Colab specific
.ipynb_checkpoints/
